/*--------------------------- ТЕЛЕФОННАЯ КНИГА ------------------- */
#phonebook {
overflow: hidden;
}
.ui-dialog {
    box-shadow: 2px 4px 7px;
}
#scroll-wrapper{
	height: 400px;
	overflow: auto;
}
#main-part {margin-top: 10px;border-bottom: 1px solid #EEE;}
#contacts-header {}
#phone-list-header {height: 35px;padding: 15px 0 0 0;}
#search-block {margin: 0 0 20px 0;}
.search-processing {background: url('images/search-loader.gif') right top no-repeat;}
#contacts-header .moveElements { float: left;padding: 3px;margin:7px 25px 0 20px;}
.contacts-title {font-size:16px; font-weight: bold;}
#contacts-header .moveElements .moveElements-header {padding-right: 15px; background: url(images/label_for_disabled_select.gif) right 50% no-repeat; cursor: pointer;}
.dashed {background: url(images/label_for_select.gif) right 50% no-repeat !important;}
#contacts-header .moveElements .moveElements-body { display:none; position:absolute;
/* border:1px solid black;*/
	-moz-box-shadow: 2px 3px 9px rgba(0,0,0,0.6);/* Для Firefox */
    -webkit-box-shadow: 2px 3px 9px rgba(0,0,0,0.6);; /* Для Safari и Chrome */
    box-shadow: 2px 3px 9px rgba(0,0,0,0.6); /* Параметры тени */
  background-color: #ffffff; width: 150px; padding:7px; margin-top: 2px;}
#contacts-header .moveElements .moveElements-body div {padding: 5px 0px 0 5px; cursor: pointer;}
#contacts-header .moveElements .moveElements-header-text-disabled {color:#999999;}
#contacts-header .moveElements .moveElements-header-text-enabled {color:#000000; background: url(images/dash_dark.gif) 0% bottom repeat-x; cursor: pointer;}
/*action*/
#contacts-header .actionElements { float: left;padding: 3px;margin: 7px 10px 0 3px;}
#contacts-header .actionElements .actionElements-header {padding-right: 15px; background: url(images/label_for_disabled_select.gif) right 50% no-repeat; cursor: pointer;}
#contacts-header .actionElements .actionElements-body { display:none; position:absolute;left: 156px; 
/*border:1px solid black;  */
	-moz-box-shadow: 2px 3px 9px rgba(0,0,0,0.6);/* Для Firefox */
    -webkit-box-shadow: 2px 3px 9px rgba(0,0,0,0.6);; /* Для Safari и Chrome */
    box-shadow: 2px 3px 9px rgba(0,0,0,0.6); /* Параметры тени */
background-color: #ffffff; width: 140px; padding:7px;  margin-top: 2px;}
#contacts-header .actionElements .actionElements-body div{ padding: 5px 0px 0 5px; cursor: pointer; }
#contacts-header .actionElements .moveElements-header-text-disabled {color:#999999;}
#contacts-header .actionElements .moveElements-header-text-enabled {color:#000000; background: url(images/dash_dark.gif) 0% bottom repeat-x; cursor: pointer;}  
/*----------------*/
/*excel*/
#contacts-header .excelElements { float: left;padding: 3px;margin: 3px 10px 0 0;}
#contacts-header .excelElements .excelElements-header {padding-right: 15px; background: url(images/label_for_select.gif) right 50% no-repeat; cursor: pointer;}
#contacts-header .excelElements .excelElements-body { display:none; position:absolute; border:1px solid black;  background-color: #ffffff; width: 200px; padding:5px 0px 7px 0px;  margin-top: 2px;}
#contacts-header .excelElements .excelElements-body div{ padding: 5px 0px 0 5px; cursor: pointer; }
#contacts-header .excelElements .moveElements-header-text-disabled {color:#999999;}
#contacts-header .excelElements .moveElements-header-text-enabled {color:#000000; background: url(images/dash_dark.gif) 0% bottom repeat-x; cursor: pointer;}  
/*----------------*/
#contact-load-div {position: relative; z-index: 2000;}
#contact-load-tip {display: block; position: absolute; width: 15px; height: 15px; background: url(images/questmark.gif) 50% 50% no-repeat; top: 7px; right: 24px; cursor: pointer;}

#contact-list {position: relative; }
#contact-list input {position: relative; top:2px;}
#contact-list-load {position: absolute;height: 398px;width: 396px; border:1px solid black; background: gray;z-index: 2500;opacity:.9; display:none;}
#contact-list-load .message {position: absolute; top:40%; left:25%; background: white url('images/44.gif') 10% 50% no-repeat; z-index: 2501; color: black; padding:20px 20px 20px 60px;}
#contact-list a.group-current {
	border: none;
	font-weight: bold;
	cursor: default;
} 
#contact-list div.group-body {display:none;/*margin-left: 180px;*/} 
#contacts {float:left; margin: 10px 20px 0 0;}
#contacts table {border: 0; border-collapse: collapse; width: 100%;}
#contacts tbody tr {cursor: pointer; border-bottom: 1px solid #eee;}
#contacts tr { height: 18px;}
#contacts td { border: 1px; padding: 7px;}
#contacts td.lastname {width: 90px; font-size: 11px;}
#contacts td.name {width: 100px; font-size: 11px;}
#contacts td.phone {width: 140px; font-size: 11px;}

.group-header {background: none repeat scroll 0 0 #EFEFEF;
    cursor: pointer;
    margin: 0 5px 1px 0;
    padding: 9px 5px 9px 10px;
    position: relative;}
.group-header a {border-bottom: 1px dotted #000000;text-decoration: none;}
.group-header span#recent-header {margin-left: 25px; text-decoration: underline;}
.loadExcel {display:none; border:1px solid black; width: 200px; height: 200px;}

/*для формы добавления контакта*/
#dialog label { display:block; }
#dialog input { margin-bottom:12px; width:95%; padding: .4em;display:block; _height: 28px;}
#dialog select { margin-bottom:12px; width:95%; padding: .4em; _height: 28px;}
#dialog fieldset { padding:0; border:0; margin-top:25px; }
/*для формы редактирования контакта*/
#contact-edit label { display:block; }
#contact-edit input { margin-bottom:12px; width:95%; padding: .4em; _height: 28px;}
#contact-edit select { margin-bottom:12px; width:95%; padding: .4em; _height: 28px;}
#contact-edit fieldset { padding:0; border:0; margin-top:25px; }
/*для формы добавления группы*/
#group label { display:block; }
#group input { margin-bottom:12px; width:95%; padding: 5px; _height: 28px;}
#group select { margin-bottom:12px; width:95%; padding: 5px; _height: 28px;}
#group fieldset { padding:0; border:0; margin-top:25px; }
/*для формы редактирования группы*/
#group-edit label { display:block; }
#group-edit input { margin-bottom:12px; width:95%; padding: .4em; _height: 28px;}
#group-edit select { margin-bottom:12px; width:95%; padding: .4em; _height: 28px;}
#group-edit fieldset { padding:0; border:0; margin-top:25px; }

/*для окошка загрузки */
#loader-wheel
{
	background-image: url("/img/newloader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 32px;
    width: 32px;
    margin: 10px;    
}
#ajaxloading
{
	min-height: 0 !important;
}
#ajaxloading p {
/*	background-image:url(images/101.gif);*/
	background-position: center;
	background-repeat: no-repeat; 
/*	height: 100px;*/
	margin: 0 !important;
}
/*для списка контактов*/


/*для списка телефонов*/
#phones-list {float:left;width:310px;}
#phones-list textarea {width:310px;height:350px}
#phones-list textarea#numbers-list {height: 398px;}

.recent-group { position: absolute; display:block; left:3px; width:16px; height: 16px; background-image:url(images/ui-icons_222222_256x240.png);}
.toggle-group { position: absolute; display:block; left:3px; width:16px; height: 16px; background-image:url(images/ui-icons_222222_256x240.png);}
.add-all-group-numbers {border-bottom: none !important; position: absolute; display:block; width:16px; height: 16px; right: 10px; top: 9px; background-image:url(images/ui-icons_222222_256x240.png);}
.edit-group {position: absolute; display:block; width:16px; height: 16px; right: 50px; top: 9px; background-image:url(images/ui-icons_222222_256x240.png); }
.delete-group { position: absolute; display:block; width:16px; height: 16px; right: 30px; top: 9px; background-image:url(images/ui-icons_222222_256x240.png);}
.edit-contact { width:15px; height: 15px;}
.delete-contact { width:15px; height: 15px; background-image:url(images/ui-icons_222222_256x240.png);}
.add-to-phone-list { width:15px; height: 15px; background-image:url(images/ui-icons_222222_256x240.png);}
/*для кнопачек*/
.ui-button#load-contacts { margin-right: 5px; padding: 0.2em !important; width: 220px; cursor:pointer; }
.ui-dialog .ui-state-highlight, .ui-dialog .ui-state-error { padding: .3em;  }

.ui-selecting { background: #eeecec; }
.ui-selected { background: #F7DBAA;}
.small-buttons-hover { background-color: #dadada; border:1px solid #999999; }


#phones_from_book{
	display: none;
}
#create-user{
	padding: 9px 31px;
	margin: 0 10px 10px 0;
	font-size: 1.0em;
	width: 164px;
	display: block;
}
#sendto{
	padding: 5px 0px;
	margin: 0 10px 0 0;
	font-size: 1em;
}
#contacts-search{
	width: 302px;
	margin: 0 3px;
}
.grouplist{
    float: left;
    /*width: 195px;*/
}
.groupcontent{
margin-right: 10px;    
}
.groupcontent h3{
	padding-top: 13px;
font-size: 1.3em;
color:#808080;
}
.entry-content>p{
	display: none !important;
}
#newgroup{
	height: 45px;
}
#newgroup button#create-group{
	padding: 8px 36px 8px 37px;
	margin: 0;
	font-size: 1.0em;
	width:164px;
}
#contacts-header{
	/*margin-left: 216px;*/
}
#search-result{
	width: 609px;
	display: none;
	padding: 5px;
	background: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: none;
    position: absolute;
	margin-top: 0px;
	z-index: 10000;
	margin-left: 45px;
}
#ajaxuploadfilediv{}

#phonebook table tr:hover td {
	background-color: #F5F5F5;
}
#phonebook table td {
	border-bottom: 1px solid #DDD;
	cursor: pointer;
}
.search-result-phone{
	text-align: right;
	width: 100px;
}


.dataTables_wrapper
{
	clear: none !important;
}

.ui-helper-clearfix:after
{
	clear:none !important;
	height: 25px !important;
}

table#DataTables_Table_0, table#DataTables_Table_1, table#DataTables_Table_2, table#DataTables_Table_3 
{
	margin: 0px;
}

#DataTables_Table_1_paginate
{
	margin-top: -21px;
}

.paging_full_numbers
{
	width: clear !important;
}

.ui-icon-triangle-1-s
{
	float: right;
}
.ui-icon-triangle-1-n
{
	float: right;
}
.ui-icon-carat-2-n-s
{
	float: right;
}

.DataTables_sort_wrapper , .ui-state-default
{
	padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
}
.sort-col
{
	cursor: pointer;
}
.group-select-all{
	float: left;
	padding: 10px 10px 10px 5px;
	border-right: 1px solid #EEE;
	margin: 5px 10px 0 0;
}
.groups-list {
float: left;
margin-bottom: 10px;
}
.group-number {
margin-bottom: 10px;
}
#contact-load-div .new-contact, .grouplist .add-group, .grouplist .contact-edit-dialog, #contacts .edit-group-dialog {
position: relative !important;
top:0 !important;
left:0 !important;
margin-bottom: 20px;
}
#contacts .edit-group-dialog {
clear: both;
}